name: CSV_CLEANER

on:
  push:
    branches:
      ["main"]

jobs:
  build:

    runs-on: ubuntu-latest
  
    steps:
    
      - uses: actions/checkout@v5
      
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name : run test csv file
        run : python main.py -path "your_CSV_files/jobs.csv" -analysis True

          
          
      

          
