name: CSV_CLEANER

on:
  push:
    branches:
      ["main"]

jobs:

  build:
    runs-on: ubuntu-latest
    
    services:
      postgres:

        image: postgres:16.6-alpine
      
        env:
          POSTGRES_DB: CSV
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: 123
        
        ports:
          - 5432:5432
      
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      redis:

        image: redis

        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

        ports:

          - 6379:6379
        

    steps:
    
      - uses: actions/checkout@v5
      
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          cache: 'pip'

      - name: install qsv
        run: |
          wget -O - https://dathere.github.io/qsv-deb-releases/qsv-deb.gpg | sudo gpg --dearmor -o /usr/share/keyrings/qsv-deb.gpg
          echo "deb [signed-by=/usr/share/keyrings/qsv-deb.gpg] https://dathere.github.io/qsv-deb-releases ./" | sudo tee /etc/apt/sources.list.d/qsv.list
          sudo apt update
          sudo apt install qsv
            

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run application tests
      
        env:
          POSTGRES_HOST: localhost
          POSTGRES_PORT: 5432
          POSTGRES_NAME: CSV
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: 123


          REDIS_HOST: localhost
          REDIS_PORT: 6379

          OPENAI_API_KEY: ${{ secrets.open_ai }}

        run: python main.py -path "your_CSV_files/jobs.csv" -analysis True -diff True

          
          
      

          
